/* css */

html {
  color: #031f7f;
  background-image: url("../images/crumpled-paper-as-background-stop-motion-animation_s39hbcho__F0000.png");
  font-family: verdana;
  font-size: 17px;
  height: 100vh;
}

.tab-container {
  padding-bottom: 7px;
  border-bottom: 9px double #031f7f;
}

.titles {
  border-radius: 50px 20px;
  width: 50%;
  text-align: center;
}

.input {
  border-radius: 50px 20px;
  border: 2.5px solid goldenrod;
  padding: 3px;
  height: 20px;
  width: 200px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.input:focus {
  border-radius: 50px 20px;
  background-color: mistyrose;
  border-color: lightblue;
  outline: none;
}

.header {
  font-family: Times New Roman;
  font-size: 42px;
  text-shadow: 2px 2px gray;
}

.aside {
  height: 70vh;
  border: 1px solid black;
  text-shadow: 1px 1px white;
  color: #031f7f;
  display: inline-block;
  background-color: lightblue;
  font-family: Times New Roman;
  text-align: center;
}

.parent {
  display: flex;
  align-content: center;
}
.column {
  margin-top: 7px;
  flex: 1;
}

.brideGroom {
  font-size: 23px;
  font-family: Courier;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

body {
  height: 100vh;
}

.sand {
  transition-duration: .25s;
  /*color: white;*/
  /*text-shadow: 2px 2px black;*/
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;
  background-image: url("../images/blue-wallpaper.png");
}

.train {
  transition-duration: .25s;
  /*color: orange;*/
  /*text-shadow: 2px 2px black;*/
  font-family: Times New Roman;
  font-size: 27px;
  background-image: url("../images/green-yellow-wallpaper.jpg");
}

.gatto {
  transition-duration: .25s;
  /*color: yellow;*/
  text-shadow: 1px 1px yellow;
  font-family: Comic Sans MS;
  font-size: 23px;
  background-image: url("../images/purple-wallpaper.jpg");
}

.invitation {
  margin: auto;
}

#train:hover, #sand:hover, #gatto:hover {
    color: yellow;
    background-color: purple;
    transition-duration: .25s;
    outline: none;
    border-radius: 50px 20px;
}

button {
  outline: none;
  border-radius: 50px 20px;
  font-size: 13px;
}